@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --section-bg-color: #F8F8FB;
    --blue-color: #65A19C;
    --font-title: 'Varela Round', sans-serif;
    --font-text: 'Nunito', sans-serif;
}